body {
  background: #62FF8E;
  margin: 0;
  min-width: 770px;
  max-height: 50vh;
}
.Home {
  margin: 0;
  position: relative;
  position: relative;
  background: #62FF8E;
}
.Hi {
  position: absolute;
  width: 38.5vw;
  height: 8.7vh;
  left: 1.01vw;
  top: 0.46vw;
  margin-top: auto;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 2.2vw;
  line-height: 2.54vw;
}
.Mail {
  position: absolute;
  width: 18.46vw;
  height: 13vh;
  left: 79.8vw;
  top: 0.46vw;
  margin-top: auto;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 2.2vw;
  line-height: 2.54vw;
  text-align: center;
  text-decoration-line: underline;
}
.Focusing {
  position: absolute;
  width: 38.42vw;
  height: 6vw;
  left: 1.21vw;
  top: 46.12vw;
  margin: 0;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 2.2vw;
  line-height: 2.54vw;

}
.Pank {
  position: absolute;
  width: 22.5vw;
  height: 3.356vw;
  left: 73.49vw;
  top: 7.29vw;
  margin: auto;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 2.2vw;
  line-height: 2.54vw;
  text-align: center;
  text-decoration-line: underline;
}
.view {
  position: absolute;
  height: 7.17vw;
  width: 18.11vw;
  left: 80.5vw;
  top: 38.94vw;
  margin: auto;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 2.2vw;
  line-height: 2.54vw;

}
.elips {
  box-sizing: border-box;
  
  position: absolute;
  width: 27.83vw;
  height: 31.82vw;
  left: 32.75vw;
  margin: 0 auto;
  top: 10.9vw;
  background: #C8B6B6;
  border: 0.405vw solid #000000;
  transform: rotate(-15.31deg);

  border-radius: 50%;
}
.rectangle {
  position: absolute;
  width: 5.381vw;
  height: 5.381vw;
  left: 41.72vw;
  top: 13.41vw;
  margin: 0;
  background: #FF1414;
}
.Portfolio {
  position: absolute;
  left: 80.26vw;
  top: 46.12vw;
  margin: 0;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 2.2vw;
  line-height: 2.54vw;

}